{% extends "base.html" %}
{% block title %}Contact{% endblock title %}
{% block content %}

    <h2>Contact info </h2>
    <h3>Reasons you might want to contact us </h3>
        <ul>
            <li>Our software sucks and you want to tell us why</li>
            <li>Our software rocks, but you know how to make it better</li>
            <li>You want to buy our software</li>
            <li>You want to write an article about our software and need an interview</li>
        </ul>
    <p>Feel free to contact us on email:</p>
        <ul>
            <li>Andreas - Anstra@stud.ntnu.no</li>
            <li>Hermann - hermannv@stud.ntnu.no</li>
            <li>Truls - truls@stud.ntnu.no</li>
            <li><a href="https://oyvindsabo.wordpress.com/">&Oslash;yvind S&aelig;b&oslash;</a> - oyvindks@stud.ntnu.no</li>
        </ul>
<p>{% endblock content %}</p>