{% extends 'base.html' %}
{% block content %}

    <div style="padding-top: 25px; position: absolute; padding-left: 102px;">
        <input class="btn btn-primary" type=button value="Back" onClick="history.go(-1);">
    </div>

    <h1 class="text-center"> Questions {{ subject.name }} - {{ subject.course_id }}</h1>

    <div class="center-block">
        <div id="users">
            <div class="text-center">
                <input style="width: 50%" class="search" placeholder="Search" />
            </div>
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Time</th>
                        <th>Asker</th>
                    </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                    {% for question in questions %}
                    <tr class='clickable-row' data-href="{{ subject.pk }}/info">
                        <td class="id">{{ question.question }}</td>
                        <td class="name">{{ question.timestamp }}</td>
                        <td class="place">{{ question.asked_question }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="container">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#NewestQuestions" data-toggle="collapse">Active Questions</a>
                    </h2>
                </div>
                <div id="NewestQuestions" class="panel-collapse collapse in">
                    <div class="panel-body" style="overflow-y: scroll">
                        <p>Sortable list over questions- by points, time etc.</p>
                        {% for question in questions %}
                            <p>Question: {{ question.question }}</p>
                            <p>Answer: {{ question.answer }}</p>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#SubjectInfo" data-toggle="collapse">Ask new questions:</a>
                    </h2>
                </div>
                <div id="SubjectInfo" class="panel-collapse collapse in">
                    <p>Ability to ask questions</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block script %}

<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script type="text/javascript">
    var options = {
    valueNames: [ 'question', 'timestamp', 'asked_question']
                    };

    var userList = new List('users', options);

    jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");

    });
});
</script>

{% endblock script %}
