{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.school }}{% endblock title %}
{% block content %}
    <style>
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
    </style>
    <div class="align-left" style="padding-top: 25px">
        <a id="" href="search" class="btn btn-primary">See all courses</a>
    </div>

    <h1 class="text-center">My courses </h1>
    <form action="" method="post">
    {% csrf_token %}
    {% if mysubjects %}
        <div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Subject code</th>
                    <th>Subject name</th>
                    <th>Loaction</th>
                    <th>Examdate</th>
                </tr>
            </thead>
            <tbody class="list">
                {% for subject in mysubjects %}
                <tr class='clickable-row' data-href="{{ subject.course.pk }}/dashboard">
                    <td class="id">{{ subject.course.course_id }}</td>
                    <td class="name">{{ subject.course.name }}</td>
                    <td class="place">{{ subject.course.lecturer.school.place }}</td>
                    {% if subject.course.examDate %}
                        <td>{{ subject.course.examDate }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-center">You have no active courses.</p>
    {% endif %}

    </form>
{% endblock content %}
{% block script %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");

    });
});
</script>
{% endblock %}