{% extends 'base.html' %}
{% block content %}

    <h1> {{ subject.name }} - {{ subject.course_id }}</h1>

    <div class="container">
        <div class="panel-group" style="height: 40%">

            <div class="panel panel-default"><!-- style=" float: left;width: 40%">-->
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#ActiveQuestions" data-toggle="collapse">Active Questions</a>
                    </h2>
                </div>
                <div id="ActiveQuestions" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Active Questions</p>

                    </div>
                </div>
            </div>
<!--
            <div style="width: 5%">
            </div>
-->
            <div class="panel panel-default"> <!--style="float: right; width: 55%">-->
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#ArchivedQuestions" data-toggle="collapse">Archived Questions</a>
                    </h2>
                </div>
                <div id="ArchivedQuestions" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>Archived Questions</p>

                    </div>
                </div>
            </div>

        </div>
        <div class="panel-group">
            <div class="panel panel-default"> <!--style="float: left; width: 40%">-->
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#AboutSubject" data-toggle="collapse">About</a>
                    </h2>
                </div>
                <div id="AboutSubject" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p>{{ subject.about }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
