{% extends 'base.html' %}
{% block content %}

    <style>
    .panel-body{
        max-height: 40vh;
    }
    </style>

    <div style="padding-top: 25px; position: absolute; padding-left: 102px;">
        <input class="btn btn-primary" type=button value="Back" onClick="history.go(-1);">
        <a style="" id="" href="/subjects/{{subject.pk }}/info" class="btn btn-primary">Course info</a>
    </div>

    <h1 class="text-center"> {{ subject.name }} - {{ subject.course_id }}</h1>

    <div class="container">
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#NewestQuestions" data-toggle="collapse">Newest Questions</a>
                    </h2>
                </div>
                <div id="NewestQuestions" class="panel-collapse collapse in">
                    <div class="panel-body" style="overflow-y: scroll">

                        <a href="questions"><p>Questions page</p></a>
                        <p>Newest 3 Questions</p>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#LiveSession" data-toggle="collapse">Live session</a>
                    </h2>
                </div>
                <div id="LiveSession" class="panel-collapse collapse in">
                    <div class="panel-body" style="overflow-y: scroll">
                        <p>make this a button promt or something, doesn't need to take much space, only be visible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
