{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.school }}{% endblock title %}
{% block content %}
    <style>
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }
    </style>
    <div class="align-left" style="padding-top: 25px">
        <a id="" href="search" class="btn btn-primary">See all courses</a>
    </div>
    <h1 class="text-center">My courses </h1>
    <form action="" method="post">
    {% csrf_token %}
    {% if mysubjects %}
        <div>
        <table class="table table-responsive table-hover">
            <thead>
                <tr>
                    <th>Subject code</th>
                    <th>Subject name</th>
                    <th></th>
                </tr>
            </thead>
            {% for subject in mysubjects %}
            <tbody>
                <tr>
                    <td width="20%"><a href="{{ subject.pk }}">{{ subject.course.course_id }}</a></td>
                    <td width="80%">{{ subject.course.name }}</td>
                    <td><button name="remove" type="submit" value="{{ subject.course.course_id }}"> <span class="glyphicon glyphicon-remove" style="color: red" aria-hidden="true"></span></button></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p class="text-center">You have no active courses.</p>
    {% endif %}

    </form>
{% endblock content %}