{% extends "base.html" %}
{% load i18n %}
{% load bootstrap_tags %}

{% block content %}
<div class="align-left" style="padding-top: 25px; padding-bottom: 25px">
    <input class="btn btn-primary" type=button value="Back" onClick="history.go(-1);">
</div>
    <div class="login">
        <div>
            <form method="post" action=".">
                {% csrf_token %}
                {{ form|as_bootstrap }}
                <div class="login_button">
                    <input class="btn btn-primary" type="submit" value="{% trans 'Log in' %}" />
                    <input class="form-group" type="hidden" name="next" value="{{ next }}" />
                </div>
            </form>
        </div>
        <p class=></p>
        <div class="login_text">
            <p>{% trans "Forgot password" %}? <a href="{% url 'auth_password_reset' %}">{% trans "Reset it" %}</a>!</p>
            <p>{% trans "Not member" %}? <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>!</p>
        </div>
    </div>
{% endblock %}