{% extends "base.html" %}
{% load static %}
{% block title %}Ask new question{% endblock %}
{% block content %}

    <h2 align="center">Ask new question</h2>

    <form action="/questions/your_question" method="post">
    {% csrf_token %}
        <div align="center">
            <div>
                <textarea autofocus name="question_box" placeholder="Skriv ditt spørsmål" cols="100" rows="12" maxlength="250"></textarea>
            </div>
            <div >
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}