{% extends "base.html" %}
{% load static %}
{% block title %}Questions{% endblock %}
{% block content %}

    <h2> Question page </h2>

    <a class="btn btn-primary" href="{% url 'ask_new_question' %}"> Ask question </a>

    <h4>Dine spørsmål:</h4>
    {% if not myQuestions %}
        <p>Du har ikke stilt noen spørsmål enda.</p>
    {% else %}
        <form action="" method="post">
        {% csrf_token %}
            {% for myQuestion in myQuestions %}
                <div style="background-color: #ffffcc"> <!--her er det bare å sette en passende farge -->
                    <div>
                        <p>Spørsmål:</p>
                        <p>{{ myQuestion.question }}</p>

                        <p>Svar:</p>
                        {% if myQuestion.answer == '' %}
                            <p>Intet svar.</p>
                        {% else %}
                            <p>{{ myQuestion.answer }}</p>
                        {% endif %}
                    </div>
                    <div>
                        <button class="btn btn-xs btn-primary" name="delete_question" type="submit" value="{{ myQuestion.pk }}">Slett spørsmål  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </div>
                </div>
            {% endfor %}
        </form>
    {% endif %}


{% endblock %}