{% extends 'base.html' %}
{% load static %}
{% block link %}
        <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap-sortable.css" %}">
{% endblock %}
{% block content %}
    <!-- vil at den ser noe slik ut http://preview.themeforest.net/item/qaengine-question-and-answer-wordpress-theme/full_screen_preview/7972399 -->
    <style>
      .clickable-row{
        /* Giving rows in table click proampt. Add both to support more browsers. */
            cursor: pointer;
         }

    .answered {
        display: inline-block;
        color: #fff;
        width: 100px;
        text-align: center;
        line-height: 25px;
        -moz-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px; /* border radius */
        background-color: #1abc9c; /* layer fill content */
        margin-right: 20px;
    }
    .unanswered {
        display: inline-block;
        color: #fff;
        width: 100px;
        text-align: center;
        line-height: 25px;
        -moz-border-radius: 13px;
        -webkit-border-radius: 13px;
        border-radius: 13px; /* border radius */
        background-color: #bc3f39; /* layer fill content */
        margin-right: 20px;
    }

    </style>

    <div class="align-left" style="padding-top: 25px">
        <a style="" id="" href="/subjects/{{subject.pk }}/dashboard" class="btn btn-primary">Back</a>
        <a style="" id="" href="ask" class="btn btn-primary">Ask question</a>
    </div>

    <h1 class="text-center"> Questions {{ subject.name }} - {{ subject.course_id }}</h1>

    <div class="center-block">
        <div id="users">
            <div class="text-center">
                <input style="width: 50%" class="search" placeholder="Search" />
            </div>
            <table class="table table-responsive table-hover sortable">
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Asked by</th>
                        <th>Points</th>
                        <th>status</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <!-- IMPORTANT, class="list" have to be at tbody -->
                <tbody class="list">
                    {% for question in questions %}
                    <tr class='clickable-row' data-href="/course/question/{{ question.pk }}">
                        <td class="id"><strong>{{ question.title }}</strong><br>{{ question.text }}</td>
                        <td class="user">
                            {% if question.user %}
                                {{ question.user.get_full_name }}
                            {% else %}
                                Anonymous
                            {% endif %}
                        </td>
                        <td style="font-size: 30px">{{ question.vote_score }}</td
                        >
                        <td>
                            {% if question.get_answers == 1 %}
                                <span class="answered">{{ question.get_answers }} Answer</span>
                            {% elif question.get_answers > 1  %}
                                <span class="answered">{{ question.get_answers }} Answers</span>
                            {% else %}
                                <span class="unanswered">0 answers</span>
                            {% endif %}
                        </td>
                        <td class="name">{{ question.timestamp }}</td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>



{% endblock %}

{% block script %}

    <script type="text/javascript" src="{% static "lib/js/bootstrap-sortable.js" %}"></script>

    <script type="text/javascript" src="{% static "lib/js/moment.min.js" %}"></script>


    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <script type="text/javascript">
        var options = {
        valueNames: ['id', 'user']
                        };

        var userList = new List('users', options);

        jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");

        });
    });
</script>

{% endblock script %}
