<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>{% block title %}Munin{% endblock title %}</title>

    <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "lib/css/bootstrap.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "lib/css/simple-sidebar.css" %}">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/ico" href="{% static "favicon.ico" %}">



</head>

<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="{% url 'home' %}">
                        Munin
                    </a>
                </li>
                {% if not request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'login' %}">Log inn</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'profile' user.username %}">My Profile</a>
                    </li>
                     <li>
                        <a href="#">Select classes</a>
                    </li>
                     <li>
                        <a href="#">Ask questions</a>
                    </li>
                {% endif %}
                {% if user.is_superuser %}
                    <li>
                        <a href="{% url 'admin:index' %}">Admin</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact info</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li>
                        <a href="{% url 'logout' %}">Log ut</a>
                    </li>
                {% endif %}

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
          <div class="container-fluid">
                <!-- Toggle button for the sidebar -->
                <a href="#menu-toggle" id="menu-toggle">
                    <span style="color: #000000; font-size: 30px" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            <!-- Distinct page content starts here -->
            {% block content %}
            {% endblock content %}
        </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script type="text/javascript" src="{% static "lib/js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{% static "lib/js/bootstrap.min.js" %}"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

</body>

</html>