{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- CSS -->
    <style>
        .frontpage-header{
            text-align: center;
        }
        .munin_image{
            height: 500px;
            width: 600px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-top: 40px;
        }

    </style>
    {% block message %}
    {% endblock message %}

    <!-- Actuall page content starts here -->

        <!-- Text -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="frontpage-header">Welcome to Munin</h1>
                <p class="frontpage-header">Munin is an interactive platform to give instant feedback on classes, to ask questions, and get them answered in a timely matter </p>
            </div>
        </div>


{% endblock content %}