{% load static %}
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="{% url 'home' %}">
                <img src="{% static "images/munin_mainlogo.png" %}" style="height:65px; padding-bottom: 10px; padding-top: 10px">
            </a>
        </li>
        <!-- If not logged in -->
        {% if not request.user.is_authenticated %}
            <li>
                <a href="{% url 'auth_login' %}">Login</a>
            </li>
        {% else %}
            <li>
                <a href="{% url 'profile' request.user.username %}">My Profile</a>
            </li>
            <!-- if student user -->
            {% if request.user.role == 'S' %}
                <li>
                    <a href="{% url 'subject' %}">My courses</a>
                </li>
            {% endif %}
            <!-- if lecturer user -->
            {% if request.user.role == 'P' %}
                <li>
                    <a href="{% url 'lecture' %}">My lectures</a>
                </li>
            {% endif %}
        {% endif %}
        {% if request.user.is_superuser %}
            <li>
                <a href="{% url 'admin:index' %}">Admin</a>
            </li>
        {% endif %}
        <li>
            <a href="{% url 'about' %}">About</a>
        </li>
        <li>
            <a href="{% url 'contact' %}">Contact info</a>
        </li>
        {% if request.user.is_authenticated %}
            <li>
                <a href="{% url 'auth_logout' %}">Logout</a>
            </li>
        {% endif %}
    </ul>
</div>