{% extends 'base.html' %}
{% block content %}


    <div class="align-left" style="padding-top: 25px">
        <input class="btn btn-primary" type=button value="Back" onClick="history.go(-1);">
    </div>

    <h1 class="text-center"> {{ subject.name }} - {{ subject.course_id }}</h1>

    <div class="container">
        <div class="panel-group" style="height: 40%">

        </div>
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                   <h2 class="panel-title">
                      <a href="#AboutSubject" data-toggle="collapse">Subject Info</a>
                    </h2>
                </div>
                <div id="AboutSubject" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <p><strong>Lecturer:</strong> {{ subject.lecturer.first_name }} {{ subject.lecturer.middle_name }} {{ subject.lecturer.last_name }}</p>
                        <p><strong>Contact information:</strong> {{ subject.lecturer.email }}</p>
                        <p><strong>Examdate:</strong> {{ subject.examDate }}</p>
                        <p><strong>About {{ subject.name }}:</strong></p>
                        <p>{{ subject.about }}</p>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post" class="center-text">
        {% csrf_token %}
            {% if userRole == 'S' %}
                {% if isEnrolled %}
                    <button type="submit" name="remove" value="{{ subject.pk }}" class="btn btn-danger btn-lg">Leave class</button>
                {% else %}
                    <button type="submit" name="add" value="{{ subject.pk }}" class="btn btn-primary btn-lg">Enroll in this class</button>
                {% endif %}
            {% endif %}
        </form>
    </div>


{% endblock %}
