{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.school }}{% endblock title %}
{% block content %}
    <style>
    button {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border: 0;
        background: transparent;
    }

    .glyphicon {
            font-size: 24px;
        }

        td{
            font-size: 24px;
            color: white;
        }

        a{
            color: #0f0f0f;
        }

        span:hover {
            color: #ffffff;
            cursor: pointer;
            cursor: hand;
        }
    </style>
    <div class="align-left" style="padding-top: 25px">
        <input class="btn btn-primary" type=button value="Back" onClick="history.go(-1);">
        <a id="" href="search" class="btn btn-primary">See all courses</a>
    </div>

    <h1 class="text-center" style="margin-bottom: 50px">My courses </h1>


    {% if mysubjects %}

    {% for subject in mysubjects %}

    <div align="center" class='clickable-row' style="margin-bottom: 20px" data-href="{{ subject.course.pk }}/questions">
        <button style="width: 80%; background-color: {{ subject.course.hexcolour }}">

            <h2 style="color: white">{{ subject.course.name }}</h2>
            <h4 style="color: white">{{ subject.course.course_id }}</h4>
            <!--<h6 style="color: white">{{ subject.course.lecturer.school }}</h6>-->

            {% if user == subject.course.lecturer %}
                <p style="color: white; padding-top: 1%">
                    Subject info: <a href="/subjects/{{ subject.pk }}/info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
                    Student list: <a href="/subjects/{{ subject.pk }}/participants"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                    Edit: <a href="../lectures/{{ subject.pk }}/edit"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
                </p>

            {% else %}

                <p style="color: white; padding-top: 1%">
                    Subject info: <a href="/subjects/{{ subject.pk }}/info"><span class="glyphicon glyphicon-file" aria-hidden="true"></span></a>
                    Student list: <a href="/subjects/{{ subject.pk }}/participants"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                </p>

            {% endif %}



        </button>
    </div>

    {% endfor %}

    {% else %}
        <p class="text-center">You have no active courses.</p>
    {% endif %}



{% endblock content %}
{% block script %}
<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.location = $(this).data("href");

    });
});

function getRandomColor() {
        var letters = '0123456789ABCDEF'.split('');
        var color = '#';
        for (var i = 0; i < 6; i++ ) {
            color += letters[Math.round(Math.random() * 15)];
        }
        return color;
    }
</script>
{% endblock %}